<!DOCTYPE html>
<html>
	<h1> <%= image_tag("smiley.jpg", :size => "20x20") %> Welcome to ReAcH OuT <%= image_tag("smiley.jpg", :size => "20x20") %>  </h1> <br />
   <body align = "center" >  
    <p>
    <h3> <%= link_to "Sign In", signin_path %> <br/> <br/>

    <%= link_to "Not a member yet? Sign up for free!", signup_path %> </h3>
   
    </p>
  </body>
</html>


