<!DOCTYPE html>
<html>
  <head> 
  </head>
  <body align = "center" >
    <h1> <i>Welcome </i></h1>
    <p>
    <h3> <%= link_to "Sign In", signin_path %> <br/>

    <%= link_to "Not a member yet? Sign up now!", signup_path %> </h3>
    
    </p>
  </body>
</html>


