<nav style=" color:#000000; float:right; font-weight:bold;background-color:#880000;">		
	<%= link_to "Home", user_path(current_user) %>  &nbsp; &nbsp;
	<%= link_to "Users", users_path %>  &nbsp; &nbsp;
	<%= link_to "Edit Profile", edit_user_path(current_user) %>  &nbsp; &nbsp;
	<%= link_to "Sign out", signout_path, :method => :delete %>  &nbsp; &nbsp;
</nav>
